# Environments
.env
.venv/
__pycache__/
*.pyc
*.pyo

# Python Builds
backend/build/
backend/dist/
*.spec

# Node/Vite
node_modules/
frontend/dist/
frontend/dist-electron/
frontend/.vscode/

# Binaries
EPC_Solar_Engine_Installer.exe
*.exe

# OS specific
.DS_Store
Thumbs.db

# Legacy Archived Modules
_legacy_api_integrations/

# Database Files
*.db

# Build Outputs
*.zip
build/
dist/
dist2/
release_build/

# Logs
error_log.txt
*.log
